    <!-- Modal delete -->
    <div class="modal fade" style="padding-top: 40px;" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header text-white bg-dark">
            <h5 class="modal-title" id="exampleModalLabel">Borrar Perfil: <span></span></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ¿Seguro que desea borrar el Perfil seleccionado?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form id="deletePerfil" action="#" method="POST">
                {% csrf_token %}
                <input type="hidden" name="idDeletePerfil" id="idDeletePerfil" value=""></input>
                <input type="hidden" name="pagina" id="pagina" value=""></input>
                <button type="submit" class="btn btn-danger">Borrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>